<a href="https://colab.research.google.com/github/yoonputer/Team_Project2/blob/master/Deeplearning/stopwords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# koreanstopwords100

불용어 사전만들어 DB.sqlite3 저장

In [1]:
import sqlite3
import pandas as pd

In [4]:
! ls ./drive/MyDrive/Forkspoon/koreanstopwords100.txt

./drive/MyDrive/Forkspoon/koreanstopwords100.txt

In [5]:
data = pd.read_table('./drive/MyDrive/Forkspoon/koreanstopwords100.txt',header=None)
data

     0    1         2
0    이  VCP  0.018280
1    있   VA  0.011699
2    하   VV  0.009774
3    것  NNB  0.009733
4    들  XSN  0.006898
..  ..  ...       ...
95   원  NNB  0.000492
96   잘  MAG  0.000491
97  통하   VV  0.000487
98  소리  NNG  0.000486
99   놓   VX  0.000483

[100 rows x 3 columns]

In [6]:
stopwords = data[0]
stopwords

0      이
1      있
2      하
3      것
4      들
      ..
95     원
96     잘
97    통하
98    소리
99     놓
Name: 0, Length: 100, dtype: object

In [7]:
df_stopwords = pd.DataFrame(stopwords)

In [8]:
df_stopwords.to_excel('ko_stopwords.xls')